<!DOCTYPE html>
<html>
<style>

    #archivo {
        background-color: #003366;
        border: none;
        color: white;
        padding: 8px 16px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
    }

    h1 {
        color: black;
        font-weight: bold;
    }

    #comprimir {
        background-color: #663300;
        border: none;
        color: white;
        padding: 8px 16px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
    }

    #carga {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 30em;
        height: 18em;
        margin-top: -9em;
        margin-left: -15em;
    }
</style>
<body>
    <div id="titulo">
        <center>
            <h1>Compresión Huffman.</h1>
        </center>
    </div>
    <div id="carga">
        <center>
            <form action="~/CompresorHuffman/LecturaCompresión">
                <input id="comprimir" type="submit" value="Comprimir" />
            </form>
            <form action="~/CompresorHuffman/LecturaDescompresión">
                <input id="archivo" type="submit" value="Descomprimir" />
            </form>
            <form action="~/Home">
                <input id="archivo" type="submit" value="Volver Al Menú Principal" />
            </form>
        </center>
    </div>
</body>
</html>
