
@{
    ViewBag.Title = "DatosCompresion";
}

<h1>Datos Compresion</h1>

<h2>La razón de compresión es: @ViewBag.razon</h2>
<h2>El factor de compresión es: @ViewBag.factor</h2>
<h2>El porcentaje de compresión es: @ViewBag.porcentaje%</h2>


<form action="~/Home">
    <input id="archivo" type="submit" value="Volver Al Menú Principal" />
</form>