
@{
    ViewBag.Title = "Descargar Archivo";
}
<h1>MIS COMPRESIONES</h1>
<h2>El archivo se proceso correctamente</h2>

<body>
    <p>Por favor, presione el nombre del archivo para inicial la descarga.</p>
    <div>
        @foreach (var item in ViewData.Model)
        {
            @Html.ActionLink((string)item, "DownloadFile", new { filename = item });
            <br>
        }
    </div>

    <form action="~/CompresorLZW/index">
        <input id="volver" type="submit" value="Volver A Página Principal" />
    </form>
</body>